In [16]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge, LinearRegression, Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.base import TransformerMixin
from sklearn.metrics import mean_squared_error, r2_score
import math
from scipy.stats import norm

In [2]:
df = pd.read_csv('/Users/sunyuanqi/Desktop/AmesHousing.csv')
df.head()

,PID,Neighborhood,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Exter Qual,Heating QC,Central Air,Gr Liv Area,Full Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Garage Type,Garage Cars,Mo Sold,Yr Sold,SalePrice
0,526301100,NAmes,6,5,1960,1960,TA,Fa,Y,1656,1,3,1,TA,7,Attchd,2.0,5,2010,215000
1,526350040,NAmes,5,6,1961,1961,TA,TA,Y,896,1,2,1,TA,5,Attchd,1.0,6,2010,105000
2,526351010,NAmes,6,6,1958,1958,TA,TA,Y,1329,1,3,1,Gd,6,Attchd,1.0,6,2010,172000
3,526353030,NAmes,7,5,1968,1968,Gd,Ex,Y,2110,2,3,1,Ex,8,Attchd,2.0,4,2010,244000
4,527105010,Gilbert,5,5,1997,1998,TA,Gd,Y,1629,2,3,1,TA,6,Attchd,2.0,3,2010,189900

In [3]:
df.describe()

,PID,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Gr Liv Area,Full Bath,Bedroom AbvGr,Kitchen AbvGr,TotRms AbvGrd,Garage Cars,Mo Sold,Yr Sold,SalePrice
count,2.930000e+03,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2929.000000,2930.000000,2930.000000,2930.000000
mean,7.144645e+08,6.094881,5.563140,1971.356314,1984.266553,1499.690444,1.566553,2.854266,1.044369,6.443003,1.766815,6.216041,2007.790444,180796.060068
std,1.887308e+08,1.411026,1.111537,30.245361,20.860286,505.508887,0.552941,0.827731,0.214076,1.572964,0.760566,2.714492,1.316613,79886.692357
min,5.263011e+08,1.000000,1.000000,1872.000000,1950.000000,334.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,2006.000000,12789.000000
25%,5.284770e+08,5.000000,5.000000,1954.000000,1965.000000,1126.000000,1.000000,2.000000,1.000000,5.000000,1.000000,4.000000,2007.000000,129500.000000
50%,5.354536e+08,6.000000,5.000000,1973.000000,1993.000000,1442.000000,2.000000,3.000000,1.000000,6.000000,2.000000,6.000000,2008.000000,160000.000000
75%,9.071811e+08,7.000000,6.000000,2001.000000,2004.000000,1742.750000,2.000000,3.000000,1.000000,7.000000,2.000000,8.000000,2009.000000,213500.000000
max,1.007100e+09,10.000000,9.000000,2010.000000,2010.000000,5642.000000,4.000000,8.000000,3.000000,15.000000,5.000000,12.000000,2010.000000,755000.000000

In [4]:
df_converted = pd.get_dummies(df)
df_converted.head()

,PID,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Gr Liv Area,Full Bath,Bedroom AbvGr,Kitchen AbvGr,TotRms AbvGrd,...,Kitchen Qual_Fa,Kitchen Qual_Gd,Kitchen Qual_Po,Kitchen Qual_TA,Garage Type_2Types,Garage Type_Attchd,Garage Type_Basment,Garage Type_BuiltIn,Garage Type_CarPort,Garage Type_Detchd
0,526301100,6,5,1960,1960,1656,1,3,1,7,...,0,0,0,1,0,1,0,0,0,0
1,526350040,5,6,1961,1961,896,1,2,1,5,...,0,0,0,1,0,1,0,0,0,0
2,526351010,6,6,1958,1958,1329,1,3,1,6,...,0,1,0,0,0,1,0,0,0,0
3,526353030,7,5,1968,1968,2110,2,3,1,8,...,0,0,0,0,0,1,0,0,0,0
4,527105010,5,5,1997,1998,1629,2,3,1,6,...,0,0,0,1,0,1,0,0,0,0

In [15]:
df_filled=df_converted.fillna(0)

X=df_filled.drop(['SalePrice'],1)
y = df_filled['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


def getDummy(df):
    df=pd.get_dummies(df)
    return df

# One Hot Encoding
X_train=getDummy(X_train)
X_test=getDummy(X_test)

# Perform Lasso to remove less performing variables
lasso = Lasso()

lasso.fit(X_train,y_train)

X_train=X_train.iloc[:,lasso.coef_!=0]
X_test=X_test.iloc[:,lasso.coef_!=0]
lasso = Lasso().fit(X_train,y_train)
print("Training set score: {:.2f}".format(lasso.score(X_train,y_train)))
print("Test set score: {:.2f}".format(lasso.score(X_test,y_test)))
print("Number of features used: {}".format(np.sum(lasso.coef_!=0)))

Training set score: 0.85
Test set score: 0.86
Number of features used: 60

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

In [18]:
y_pred = lasso.predict(X_test)
# The mean square error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))
#R^2 score
print('R^2 score: %.2f' % r2_score(y_test, y_pred))

Mean squared error: 1154004066.64
R^2 score: 0.86